.buildozer/
.devlocaltmp/
.tox/
bin/
build/
contrib/pyinstaller/
dist/
Electrum-twist.egg-info/
Electrum_twist.egg-info/
env/
locale/
packages
*_trial_temp
*.pyc
*.swp
*.egg/
/electrum.py
gui/qt/icons_rc.py
contrib/build-wine/tmp/
.vscode/settings.json
